name: Build and Publish Add-on

on:
  push:
    branches: [ "main" ]
    paths:
      - 'music_assistant_custom/**'
      - '.github/workflows/**'
  schedule:
    - cron: '0 2 * * *' # Run daily at 2 AM
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: neqq3/ma-custom-loader

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: music_assistant_custom
          file: music_assistant_custom/Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest,${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
